@charset "UTF-8";
/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/*======= Глобальный border-box ======*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*======= Обращение ко всей странице ======*/
* {
  text-decoration: none;
  list-style: none;
  font-family: Roboto;
  color: #212121;
}

a {
  display: block;
  text-decoration: none;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  display: inline-block;
}

.link {
  text-decoration: none;
  display: block;
}

.section {
  padding-left: 15px;
  padding-right: 15px;
}

.conteiner {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .conteiner {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .minor-title {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.167;
    letter-spacing: 0.03em;
  }
}

@media screen and (max-width: 767px) {
  .minor-title {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.179;
    letter-spacing: 0.03em;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.logo-header {
  color: #000000;
}

.logo-footer {
  color: #ffffff;
}

.feedback-mail,
.feedback-tel {
  color: #757575;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.iten {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.iten:hover, .iten:focus {
  color: #2196f3;
}

.iten-studio,
.iten-portfolio {
  position: relative;
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  header {
    position: relative;
    height: 60px;
    max-width: 480px;
    margin: 0 auto;
  }
  .logo {
    font-family: Raleway;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    color: #2196f3;
  }
}

@media screen and (max-width: 1200px) {
  .icon-menu_mobile,
  .icon-close_menu_mobile {
    display: none;
  }
  .menu-wrapper {
    position: static;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .menu-mobile-btn {
    background-color: transparent;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 40px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-mobile-btn.is-open .icon-close_menu_mobile {
    display: block;
  }
  .menu-mobile-btn.is-open .icon-menu_mobile {
    display: none;
  }
  .menu-mobile-btn:focus svg {
    fill: #2196f3;
  }
  .icon-menu_mobile {
    display: block;
    width: 24px;
    height: 16px;
  }
  .icon-close_menu_mobile {
    display: none;
    width: 19px;
    height: 19px;
  }
  .menu-wrapper {
    position: absolute;
    display: none;
    background-color: #ffffff;
    top: 0;
    left: 0;
    height: 393px;
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.167;
    letter-spacing: 0.02em;
  }
  .menu-wrapper.is-open {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform: translateY(0);
  }
  .menu-wrapper .header-site-nav {
    display: block;
    text-align: center;
  }
  .menu-wrapper .header-feedback {
    width: 100%;
  }
  .menu-wrapper .iten {
    margin-bottom: 40px;
  }
  .menu-wrapper .iten-studio::before {
    width: 66px;
  }
  .menu-wrapper .iten-portfolio::before {
    width: 99px;
  }
  .menu-wrapper .iten-studio,
  .menu-wrapper .iten-portfolio {
    margin-bottom: 52px;
  }
  .menu-wrapper .iten-studio::before,
  .menu-wrapper .iten-portfolio::before {
    content: "";
    position: absolute;
    display: inline-block;
    bottom: 0;
    top: 26px;
    left: 50%;
    height: 4px;
    transform: translate(-50%);
    background-color: #2196f3;
    border-radius: 2px;
  }
  .menu-wrapper .header-site-nav :nth-child(n + 2) {
    margin-bottom: 40px;
  }
  .menu-wrapper .feedback-list :not(:last-child) {
    margin-bottom: 16px;
  }
  .menu-wrapper .envelope {
    width: 16px;
    height: 11.2px;
  }
  .menu-wrapper .tel {
    width: 10px;
    height: 14.94px;
  }
  .menu-wrapper .addrdess-link {
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 21px;
  }
  .menu-wrapper .addrdess-link:focus .feedback-tel,
  .menu-wrapper .addrdess-link:focus .feedback-mail {
    color: #2196f3;
  }
  .menu-wrapper .addrdess-link:focus svg {
    fill: #2196f3;
  }
  .menu-wrapper .addrdess-link .address-icon {
    fill: #757575;
    margin-right: 10px;
  }
}

.team-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
}

.team-social-links:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: #2196f3;
}

.social-link:hover .social, .social-link:focus .social {
  fill: #ffffff;
}

.social {
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-footer {
  fill: #ffffff;
}

.social-link {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-links:not(:last-child) {
  margin-right: 10px;
}

.form-input {
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.form-input:focus {
  outline: none;
}

.form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-button {
  padding: 0;
  border: none;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.name-btn {
  margin-right: 10px;
  font-size: 16px;
  line-height: 30px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.icon-submit {
  fill: #ffffff;
}

@media screen and (max-width: 479px) {
  .footer-form-input {
    display: inline-block;
    text-align: center;
  }
  .form-input {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1200px) {
  .footer-form-input {
    display: inline-block;
    text-align: center;
  }
  .form-input {
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
  }
}

.footer {
  background: #2f303a;
}

.wrapper-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.link-map {
  font-style: normal;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.742;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.link-feedback {
  font-style: normal;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.742;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.join {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .footer-nav {
    margin-bottom: 60px;
  }
  .logo-company-footer {
    margin-bottom: 20px;
  }
  .footer-address-links {
    text-align: center;
  }
  .footer-address-iten {
    text-align: center;
  }
  .footer-address-iten:not(:last-child) {
    margin-bottom: 8px;
  }
  .join {
    text-align: center;
    margin-bottom: 20px;
  }
  .social-list-link {
    margin-bottom: 60px;
  }
}
/*# sourceMappingURL=portfolio.css.map */