/*======= Глобальный border-box ======*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*======= Обращение ко всей странице ======*/

* {
  text-decoration: none;
  list-style: none;
  font-family: Roboto;
  color: #212121;
}

a {
  display: block;
  text-decoration: none;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  display: inline-block;
}

.link {
  text-decoration: none;
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
}

.conteiner {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.minor-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
