$accent-color: #2196f3;
$page-primary-color: #212121;
$pege-secondary-color: #757575;
$page-color: #ffffff;
$section-secondary-color: #f5f4fa;
$footer-background-color: #2f303a;
$footer-social-background-color: rgba(255, 255, 255, 0.1);
$footer-text-primary-color: #ffffff;
$footer-text-secondary-color: rgba(255, 255, 255, 0.6);
$gradient-primary-color: rgba(47, 48, 58, 0.8);
$logo-color-one: #2196f3;
$logo-color-two: #000000;
$logo-color-three: #ffffff;
$social-color: #afb1b8;
$btn-color: #188ce8;
$border-footer-color: #ececec;
$border-color: #eeeeee;
$backdrop-background-color: rgba(0, 0, 0, 0.2);
$text-examples-color: rgba(33, 150, 243, 0.9);
