.footer {
  background: $footer-background-color;
}

.wrapper-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.link-map {
  font-style: normal;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.742;
  letter-spacing: 0.03em;

  color: $page-color;
}

.link-feedback {
  font-style: normal;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.742;
  letter-spacing: 0.03em;

  color: $footer-text-secondary-color;
}

.join {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: $page-color;
}

@media screen and (max-width: 767px) {
  .logo-company-footer {
    .logo {
      justify-content: center;
    }
    margin-bottom: 20px;
  }

  .footer-address-iten {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  .footer-nav {
    margin-bottom: 60px;
  }
  .social-list-link {
    margin-bottom: 60px;
  }
  .join {
    margin-bottom: 20px;
    text-align: center;
  }
  .footer-feedback-form {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-nav {
    margin-bottom: 60px;
  }
  .logo-company-footer {
    .logo {
      justify-content: center;
    }
    margin-bottom: 20px;
  }
  .footer-address-iten {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  .join {
    margin-bottom: 20px;
    text-align: center;
  }
  .wrapper-footer {
    @include centeredFlex(flex, center, baseline);
    flex-wrap: wrap;
  }
  .footer-nav {
    margin-right: 165px;
  }
  .footer-social-links {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .logo-company-footer {
    margin-bottom: 20px;
  }
  .footer {
    // @include centeredFlex(flex, space-between, baseline);
    background: $footer-background-color;
  }

  .wrapper-footer {
    @include centeredFlex(flex, space-between, baseline);

    padding-top: 60px;
    padding-bottom: 60px;
  }

  .footer-address-links {
    & .footer-address-iten:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  .link-map {
    font-style: normal;
    cursor: pointer;

    color: $page-color;
  }

  .link-feedback {
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    cursor: pointer;

    color: $footer-text-secondary-color;
  }

  .join {
    display: block;

    margin-bottom: 20px;

    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;

    color: $page-color;
  }
}
