header {
  @include centeredFlex(flex, space-between);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.logo-header {
  color: $logo-color-two;
}
.logo-footer {
  color: $logo-color-three;
}

.feedback-mail,
.feedback-tel {
  color: $pege-secondary-color;
  @include transitionSite;
}

.iten {
  @include transitionSite;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.iten-studio,
.iten-portfolio {
  position: relative;
  color: $accent-color;
}

@media screen and (max-width: 767px) {
  header {
    position: relative;
    height: 60px;
    max-width: 480px;
    margin: 0 auto;
  }
  .logo {
    font-family: Raleway;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    color: $logo-color-one;
  }
}
