header {
  @include centeredFlex(flex, space-between);
  position: relative;
  height: 60px;
  max-width: 480px;
  margin: 0 auto;
}
.logo {
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  font-family: Raleway;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: $logo-color-one;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
}
.address-icon {
  fill: $pege-secondary-color;
}

.logo-header {
  color: $logo-color-two;
}
.logo-footer {
  color: $logo-color-three;
}
.site-nav {
  margin: 0;
}
.envelope {
  width: 16px;
  height: 11.2px;
}

.tel {
  width: 10px;
  height: 14.94px;
}
.feedback-mail,
.feedback-tel {
  color: $pege-secondary-color;
  @include transitionSite;
}

.iten {
  @include transitionSite;
  height: 100%;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.iten-studio,
.iten-portfolio {
  position: relative;
  color: $accent-color;
}

@media screen and (min-width: 768px) {
  header {
    height: 80px;
  }
  .menu-wrapper {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
  }
  .header-list {
    @include centeredFlex;
    margin-right: 84px;

    cursor: pointer;
  }
  .header-list-link {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  .header-feedback {
    @include centeredFlex;
  }
  .feedback {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  .addrdess-link {
    @include centeredFlex(flex, start);

    height: 100%;
    &:focus .feedback-tel,
    &:focus .feedback-mail {
      color: $accent-color;
    }

    &:focus svg {
      fill: $accent-color;
    }
  }
  .address-icon {
    margin-right: 8px;
  }
  .menu-mobile-btn {
    display: none;
  }
  .iten {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .iten-studio,
  .iten-portfolio {
    padding-top: 32px;
    padding-bottom: 32px;
    &::before {
      content: "";
      position: absolute;
      display: inline-block;

      left: 50%;
      bottom: 0;

      // margin-top: 80px;
      width: 47px;
      height: 4px;
      transform: translate(-50%);

      background-color: $accent-color;
      border-radius: 2px;
    }
  }
}

@media screen and (min-width: 1200px) {
  header a {
    // height: 100%;
    @include centeredFlex;
  }

  .addrdess-link {
    @include centeredFlex;
    @include transitionSite;
    padding-top: 32px;
    padding-bottom: 32px;
    &:hover,
    &:focus {
      .address-icon,
      .feedback-tel,
      .feedback-mail {
        color: $accent-color;
        fill: $accent-color;
      }
    }
  }
  .iten {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .iten-studio,
  .iten-portfolio {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .menu-wrapper {
    @include centeredFlex;
  }
  .feedback-list-item {
    height: 80px;
    display: flex;
    align-items: flex-start;
  }
  .header-list {
    margin-right: 305px;
  }
  .logo {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
  }
  .feedback {
    @include transitionSite;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  .address-icon {
    @include transitionSite;
  }
}
