.footer {
  background: $footer-background-color;
}

.wrapper-footer {
  @include centeredFlex(flex, space-between, baseline);

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address-links {
  & .footer-address-iten:not(:last-child) {
    margin-bottom: 9px;
  }
}

.link-map {
  font-style: normal;
  cursor: pointer;

  color: $page-color;
}

.link-feedback {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  cursor: pointer;

  color: $footer-text-secondary-color;
}

.join {
  display: block;

  margin-bottom: 20px;

  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: $page-color;
}
