.team {
  text-align: center;

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  background-color: $page-color;
}

// .team-list-link {
//   @include centeredFlex(flex, space-between);
// }

.our-team {
  padding-top: 60px;
  background: $section-secondary-color;
  padding-bottom: 60px;
}

.team-foto {
  width: 100%;
  margin-bottom: 30px;
}

.team-name {
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-profession {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: $pege-secondary-color;
}

@media screen and (max-width: 767px) {
  .team {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  .team-foto {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list-link {
    @include centeredFlex(flex, center, baseline);
    flex-wrap: wrap;
  }
  .team {
    margin-bottom: 60px;
    width: calc((100% - 30px) / 2);

    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
  }
  .minor-title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .our-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team-list-link {
    @include centeredFlex(flex, center, baseline);
    flex-wrap: nowrap;
  }
  .team {
    width: calc((100% - 30px) / 4);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
