.link-user-logo {
  @include centeredFlex;

  height: 90px;
  cursor: pointer;

  border: 1px solid $social-color;
  box-sizing: border-box;
  border-radius: 4px;

  @include transitionSite;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    .logo-clients {
      fill: $accent-color;
    }
  }
}

.logo-clients {
  fill: $social-color;
  @include transitionSite;
}

@media screen and (max-width: 319px) {
  .user-iten {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .company-users {
    margin-bottom: 60px;
  }
  .minor-title {
    margin-bottom: 30px;
  }
  .user-iten {
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
    width: calc((100% - 30px) / 2);
  }
  .link-user-logo {
    max-width: 210px;
    height: 90px;
  }

  .company-users-link {
    @include centeredFlex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .company-users-link {
    @include centeredFlex;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }
  .user-iten {
    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .company-users-link {
    @include centeredFlex;
    flex-wrap: nowrap;
    margin-bottom: 94px;
  }
  .user-iten {
    &:not(:nth-last-child(-n + 6)) {
      margin-bottom: 30px;
    }
    &:not(:last-child) {
      margin-right: 30px;
    }
    width: calc((100% - 60px) / 6);
  }
}
