@mixin centeredFlex($type: flex, $jus-subtype: center, $ali-subtype: center) {
  display: $type;
  justify-content: $jus-subtype;
  align-items: $ali-subtype;
}

@mixin siteNavIten {
  position: relative;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  @include transitionSite;
}

@mixin transitionSite {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@mixin translateY {
  transform: translateY(-50%);
}
