.portfolio {
  position: relative;
}

.portfolio::before {
  content: "";
  position: absolute;
  display: inline-block;

  left: 0;
  bottom: 0;

  width: 100%;
  height: 1px;
  background-color: $border-footer-color;
}

.iten-portfolio {
  position: relative;
}

.iten-portfolio::before {
  content: "";
  position: absolute;
  display: inline-block;

  left: 50%;
  bottom: 0;
  transform: translate(-50%);

  width: 77px;
  height: 4px;

  background-color: $accent-color;
  border-radius: 2px;
}

.main-menu {
  margin-bottom: 50px;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}

.main-menu-list {
  @include centeredFlex;
  & .menu-link:not(:last-child) {
    margin-right: 8px;
  }
}

.button-link {
  display: inline-block;

  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  cursor: pointer;

  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;

  background: $section-secondary-color;
  border-radius: 4px;

  @include transitionSite;

  &:hover,
  &:focus {
    background: $accent-color;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    color: $page-color;
  }
}
